

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .navb {
   padding: 10px 20px;
   margin-left:10px;
   margin-right: 10px;
}     
  .sluzby {
     display: grid;
     grid-template-columns: 1fr 1fr;
     row-gap: 10px;
  }

  .introduction {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
  }

  .wedding-photos {
      grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {
   nav {
       flex-direction: column;
       position: static;
   }

   .sluzby {
       padding-top: 10px;
       grid-template-columns: 1fr;
       row-gap: 10px;
   }
   main {
        padding-top: 10px;
   }

   .wedding-photos{
    grid-template-rows: 1fr;
  }
   .introduction {
    grid-template-columns: 1fr;
  }

  .photo-friends {
    display: block;
  }

  .navul {
    display:flex;
    flex-direction: column;
}

#navli {
    display:flex;
    flex-direction: column;

}
}

